<div class="row">
	<div class="col-xs-12">
		<h3>{{ venue.details[0].venue }}</h3>
		<h4>{{ venue.details[0].venue_address }} - {{ venue.details[0].venue_city }}</h4>
		<h5>Slot distances</h5>
		<table class="table table-hover">
			<thead>
				<th>Distance</th><th>Address</th><th>City</th>
			</thead>
			<tbody>
				<tr ng-repeat="detail in venue.details">
					<td><span class="text-primary"><b>{{ detail.distance | number:2 }}</b> meters</span></td>
					<td>{{ detail.slot_address }}</td>
					<td>{{ detail.slot_city }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
